
<div class="card m-3" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Pesquisa sua linha</h5>

<input class="form-control" [value]="search" (input)="pesquisar($event)" list="linhas" id="exampleDataList" placeholder="Pesuisa aqui pelo número ou nome da linha">
<datalist id="linhas" class="top-0 start-0" [hidden]="false">
  <option *ngFor="let linha of opcoesLinhas" [label]="linha.nome" [value]="linha.numero">
</datalist>
    <br>
    
  </div>
</div>
<div class="full" id="map">
</div>
