<div class="container">
  <!-- Lado esquerdo com conteúdo de texto -->
  <div class="left-side">

      <div class="p-4 border-round w-full lg:w-8 ml-auto mr-auto">
          <div class="text-left mb-4">
              <div>
                  <img src="assets/img/bus.png" alt="Image" height="100" class="mb-3">
              </div>

              <span class="text-500 font-medium line-height-3">MyBus utiliza o Google Maps para oferecer monitoramento inteligente do trânsito, linhas de ônibus e veículos específicos de uma determinada linha, permitindo acompanhar em tempo real suas rotas preferidas com precisão e praticidade.</span>
           </div>

          <div class="text-left">
              <button pButton (click)="logar()" pRipple outlined="true" label="Entrar com o Google" size="large" icon="pi pi-google" class="mb-4"></button>
              <br>

              <!-- <span class="text-left " >Ainda não tem uma conta?</span><a class="font-light no-underline ml-2 text-primary cursor-pointer" (click)="logar()">Crie uma aqui</a> -->

          </div>
      </div>

  </div>

  <!-- Lado direito com a imagem -->
  <div class="right-side">
      <img src="assets/img/login21.png" alt="Image" class="image" />
  </div>
</div>
